doctype html
html
	head
		meta(charset="UTF-8")
		title
		link(rel="stylesheet", href="./jd.css")
	body
		.main
			.top
				.tl
					ul.ll
						li
							a(href="#") 送至:北京
				.tr
					ul.rl
						li
							a(href="#") xxx,请登录
						li
							a(href="#") 免费注册
						li
							a(href="#") 我的订单
						li
							a(href="#") 我的京东
						li
							a(href="#") 京东会员
						li
							a(href="#") 企业采购
						li
							a(href="#") 手机京东
						li
							a(href="#") 关注京东
						li
							a(href="#") 客户服务
						li
							a(href="#") 网站导航
			.top_img
				img(src="./images/01.jpg")
			.search
				.logo_div
					img.logo(src="./images/02.png")
				.st
					input.text(type="text", maxlength="100", name="wd")
					input.sub(type="submit", value="搜索")
				.shopping
					a.sc(href="#") 我的购物车
				.hotwords
					a.hot_first(href="#") 大牌9.9
					a(href="#") 买1赠1
					a(href="#") 感恩钜惠
					a(href="#") 低至9.9
					a(href="#") 龙润茶
					a(href="#") 女鞋
					a(href="#") 海飞丝
					a(href="#") 花王
					a(href="#") 吸尘器
			.w
				.all
					.all_word
						a.aw(href="#") 全部商品分类
					.menu
						.am
							.c1
								a(href="#") 家用电器
								i >
							.c2
								a(href="#") 手机
								| 、
								a(href="#") 数码
								| 、
								a(href="#") 京东通信
								i >
							.c3
								a(href="#") 电脑
								| 、
								a(href="#") 办公
								i >
							.c4
								a(href="#") 家居
								| 、
								a(href="#") 家具
								| 、
								a(href="#") 家装
								| 、
								a(href="#") 厨具
								i >
							.c5
								a(href="#") 男装
								| 、
								a(href="#") 女装
								| 、
								a(href="#") 内衣
								| 、
								a(href="#") 珠宝
								i >
							.c6
								a(href="#") 个户化妆
								| 、
								a(href="#") 清洁用品
								i >
							.c7
								a(href="#") 鞋靴
								| 、
								a(href="#") 箱包
								| 、
								a(href="#") 钟表
								| 、
								a(href="#") 奢侈品
								i >
							.c8
								a(href="#") 运动户外
								i >
							.c9
								a(href="#") 汽车
								| 、
								a(href="#") 汽车用品
								i >
							.c10
								a(href="#") 母婴
								| 、
								a(href="#") 玩具乐器
								i >
							.c11
								a(href="#") 食品
								| 、
								a(href="#") 酒类
								| 、
								a(href="#") 生鲜
								| 、
								a(href="#") 特产
								i >
							.c12
								a(href="#") 营养保健
								i >
							.c13
								a(href="#") 图书
								| 、
								a(href="#") 音像
								| 、
								a(href="#") 电子书
								i >
							.c14
								a(href="#") 彩票
								| 、
								a(href="#") 旅行
								| 、
								a(href="#") 充值
								| 、
								a(href="#") 票务
								i >
							.c15
								a(href="#") 理财
								| 、
								a(href="#") 众筹
								| 、
								a(href="#") 白条
								| 、
								a(href="#") 保险
								i >
						#am_box.am_con
							.am_c1
								.c1_brands
									a(href="#")
										img(src="./images/025.png")
								.c1_title
									a(href="#")
										| 品牌日
										i >
									a(href="#")
										| 家电城
										i >
									a(href="#")
										| 智能生活馆
										i >
									a(href="#")
										| 京东精华馆
										i >
									a(href="#")
										| 京东帮服务店
										i >
									a(href="#")
										| 值得买精选
										i >
								.c1_con
									dl.con_dl1
										dt
											a.con_dl1_a(href="#")
												| 大家电
												i >
										dd
											a(href="#") 平板电视
											a(href="#") 空调
											a(href="#") 冰箱
											a(href="#") 洗衣机
											a(href="#") 家庭影院
											a(href="#") DVD
											a(href="#") 迷你音响
											a(href="#") 烟机/灶具
											a(href="#") 热水器
											a(href="#") 消毒柜/洗碗机
											a(href="#") 冷柜/冰吧
											a(href="#") 酒柜
											a(href="#") 家电配件
									dl.con_dl2
										dt
											a.con_dl2_a(href="#")
												| 生活电器
												i >
										dd
											a(href="#") 电风扇
											a(href="#") 电风扇
											a(href="#") 电风扇
											a(href="#") 电风扇
											a(href="#") 电风扇
											a(href="#") 电风扇
											a(href="#") 电风扇
											a(href="#") 电风扇
											a(href="#") 电风扇
											a(href="#") 电风扇
											a(href="#") 电风扇
											a(href="#") 电风扇
											a(href="#") 电风扇
											a(href="#") 电风扇
											a(href="#") 电风扇
											a(href="#") 电风扇
											a(href="#") 电风扇
											a(href="#") 电风扇
									dl.con_dl3
										dt
											a.con_dl3_a(href="#")
												| 厨房电器
												i >
										dd
											a(href="#") 电压力锅
											a(href="#") 电压力锅
											a(href="#") 电压力锅
											a(href="#") 电压力锅
											a(href="#") 电压力锅
											a(href="#") 电压力锅
											a(href="#") 电压力锅
											a(href="#") 电压力锅
											a(href="#") 电压力锅
											a(href="#") 电压力锅
											a(href="#") 电压力锅
											a(href="#") 电压力锅
											a(href="#") 电压力锅
											a(href="#") 电压力锅
											a(href="#") 电压力锅
											a(href="#") 电压力锅
											a(href="#") 电压力锅
											a(href="#") 电压力锅
											a(href="#") 电压力锅
									dl.con_dl4
										dt
											a.con_dl4_a(href="#")
												| 个护健康
												i >
										dd
											a(href="#") 剃须刀
											a(href="#") 剃须刀
											a(href="#") 剃须刀
											a(href="#") 剃须刀
											a(href="#") 剃须刀
											a(href="#") 剃须刀
											a(href="#") 剃须刀
											a(href="#") 剃须刀
											a(href="#") 剃须刀
											a(href="#") 剃须刀
											a(href="#") 剃须刀
											a(href="#") 剃须刀
											a(href="#") 剃须刀
											a(href="#") 剃须刀
											a(href="#") 剃须刀
											a(href="#") 剃须刀
											a(href="#") 剃须刀
									dl.con_dl5
										dt
											a.con_dl5_a(href="#")
												| 五金家装
												i >
										dd
											a(href="#") 电动工具
											a(href="#") 电动工具
											a(href="#") 电动工具
											a(href="#") 电动工具
											a(href="#") 电动工具
											a(href="#") 电动工具
											a(href="#") 电动工具
											a(href="#") 电动工具
											a(href="#") 电动工具
											a(href="#") 电动工具
											a(href="#") 电动工具
											a(href="#") 电动工具
											a(href="#") 电动工具
											a(href="#") 电动工具
											a(href="#") 电动工具
											a(href="#") 电动工具
											a(href="#") 电动工具
								.c1_pro
									a(href="#")
										img(src="./images/026.png")
							.am_c2
				.list
					ul.lu
						li
							a(href="#") 服装城
						li
							a(href="#") 美妆馆
						li
							a(href="#") 超市
						li
							a(href="#") 全球购
						li
							a(href="#") 闪购
						li
							a(href="#") 团购
						li
							a(href="#") 拍卖
						li
							a(href="#") 金融
				.sp
					a(href="#")
						img(src="./images/02.jpg")
			.slider
				a._blank(href="#")
					img(src="./images/03.jpg")
				.news
					.news_title
						h2 京东快报
						.n_more
							a(href="#") 更多 >
					.news_con
						ul.nl
							li
								a(href="#")
									span [特惠]
									| 价格哈哈哈哈哈
							li
								a(href="#")
									span [特惠]
									| 价格哈哈哈哈
							li
								a(href="#")
									span [特惠]
									| 价格哈哈哈哈哈
							li
								a(href="#")
									span [特惠]
									| 价格哈哈哈哈
							li
								a(href="#")
									span [特惠]
									| 价格哈哈哈哈哈
				.services
					.s_title
						h2 生活服务
					.s_con
						ul.s_list
							li
								a(href="#")
									i.s_l1
									span 话费
							li
								a(href="#")
									i.s_l2
									span 机票
							li
								a(href="#")
									i.s_l3
									span 电影票
							li
								a(href="#")
									i.s_l4
									span 游戏
							li
								a(href="#")
									i.s_l5
									span 彩票
							li
								a(href="#")
									i.s_l6
									span 团购
							li
								a(href="#")
									i.s_l7
									span 酒店
							li
								a(href="#")
									i.s_l8
									span 水电煤
							li
								a(href="#")
									i.s_l9
									span 众筹
							li
								a(href="#")
									i.s_l10
									span 理财
							li
								a(href="#")
									i.s_l11
									span 礼品卡
							li
								a(href="#")
									i.s_l12
									span 白条
			.rec
				.today_rec
					.today
						.mt
							.jd_clock_wrap
								a(href="#")
									img(src="./images/046.png")
						.mc
							ul.slider_main
								li.slider_panel
									.fore
										a(href="#")
											img(src="./images/19.jpg")
									.fore
										a(href="#")
											img(src="./images/20.jpg")
									.fore
										a(href="#")
											img(src="./images/21.jpg")
									.fore1
										a(href="#")
											img(src="./images/22.jpg")
				.like
					.like_title
						h2 猜你喜欢
						img.l_t(src="./images/05.png")
						a(href="#")
							img.l_c(src="./images/06.png")
					.like_con
						ul.c_i
							li.like_li1
								.p_img
									a(href="#")
										img(src="./images/23.jpg")
								.p_info
									.p_name
										a(href="#") 三星 Galaxy A5 (SM-A5108) 金色 移动4G手
									.p_price
										i ￥
										| 2398.00
							li.like_li2
								.p_img
									a(href="#")
										img(src="./images/23.jpg")
								.p_info
									.p_name
										a(href="#") 三星 Galaxy A5 (SM-A5108) 金色 移动4G手
									.p_price
										i ￥
										| 2398.00
							li.like_li2
								.p_img
									a(href="#")
										img(src="./images/23.jpg")
								.p_info
									.p_name
										a(href="#") 三星 Galaxy A5 (SM-A5108) 金色 移动4G手
									.p_price
										i ￥
										| 2398.00
							li.like_li2
								.p_img
									a(href="#")
										img(src="./images/23.jpg")
								.p_info
									.p_name
										a(href="#") 三星 Galaxy A5 (SM-A5108) 金色 移动4G手
									.p_price
										i ￥
										| 2398.00
							li.like_li2
								.p_img
									a(href="#")
										img(src="./images/23.jpg")
								.p_info
									.p_name
										a(href="#") 三星 Galaxy A5 (SM-A5108) 金色 移动4G手
									.p_price
										i ￥
										| 2398.00
							li.like_li2
								.p_img
									a(href="#")
										img(src="./images/23.jpg")
								.p_info
									.p_name
										a(href="#") 三星 Galaxy A5 (SM-A5108) 金色 移动4G手
									.p_price
										i ￥
										| 2398.00
				.jd_special
					h2 京东特色购
					.special_con
						.has_col1
							a.has_item(href="#")
								p.area_tit 新发现
								.sub_tit
									p.tit 新品尖货
									p.desc 坚果P2智能便携影院
									p.promotion 有我的地方就是电影院
								img(src="./images/24.jpg")
							a.has_item_small
								.sub-tit
									p.tit 预售抢鲜
									p.desc 高圆圆联名款
									p.promotion 预约畅享好礼
								img(src="./images/25.jpg")
							a.has_item_small
								.sub-tit
									p.tit 预售抢鲜
									p.desc 高圆圆联名款
									p.promotion 预约畅享好礼
								img(src="./images/25.jpg")
						.has_col2
							a.has_item(href="#")
								p.area_tit 好物100
								.sub_tit
									p.tit 预售抢鲜
									p.desc 高圆圆联名款
									p.promotion 预约畅享好礼
								img(src="./images/26.jpg")
							a.has_item_small
								.sub-tit
									p.tit 预售抢鲜
									p.desc 高圆圆联名款
									p.promotion 预约畅享好礼
								img(src="./images/25.jpg")
						.has_col1
							a.has_item(href="#")
								p.area_tit 新发现
								.sub_tit
									p.tit 新品尖货
									p.desc 坚果P2智能便携影院
									p.promotion 有我的地方就是电影院
								img(src="./images/24.jpg")
							a.has_item_small
								.sub-tit
									p.tit 预售抢鲜
									p.desc 高圆圆联名款
									p.promotion 预约畅享好礼
								img(src="./images/25.jpg")
							a.has_item_small
								.sub-tit
									p.tit 预售抢鲜
									p.desc 高圆圆联名款
									p.promotion 预约畅享好礼
								img(src="./images/25.jpg")
						.has_brands
							.brands_left
								ul
									li
										a.item(href="#")
											img(src="./images/27.jpg")
									li
										a.item(href="#")
											img(src="./images/27.jpg")
									li
										a.item(href="#")
											img(src="./images/27.jpg")
									li
										a.item(href="#")
											img(src="./images/27.jpg")
									li
										a.item(href="#")
											img(src="./images/27.jpg")
									li
										a.item(href="#")
											img(src="./images/27.jpg")
									li
										a.item(href="#")
											img(src="./images/27.jpg")
							.brands_right
								ul
									li
										a.item(href="#")
											img(src="./images/27.jpg")
									li
										a.item(href="#")
											img(src="./images/27.jpg")
									li
										a.item(href="#")
											img(src="./images/27.jpg")
									li
										a.item(href="#")
											img(src="./images/27.jpg")
									li
										a.item(href="#")
											img(src="./images/27.jpg")
									li
										a.item(href="#")
											img(src="./images/27.jpg")
									li
										a.item(href="#")
											img(src="./images/27.jpg")
			.clothing
				.clothes
					.clothes_title
						i.title_img
						h2 服装鞋包
						ul.clothes_tab
							li.c_tab1
								a(href="#") 大牌
							li.c_tab2
								a(href="#") 男装
							li.c_tab3
								a(href="#") 女装
							li.c_tab4
								a(href="#") 鞋靴
							li.c_tab5
								a(href="#") 箱包
							li.c_tab6
								a(href="#") 内衣配饰
							li.c_tab7
								a(href="#") 珠宝首饰
							li.c_tab8
								a(href="#") 奢品礼品
							li.c_tab9
								a(href="#") 奢华腕表
					.clothes_con
						.con_left
							.door
								.door_b
									a(href="#")
										img(src="./images/08.jpg")
								ul.d_themes
									li
										a(href="#")
											i.d_t1
											span 男装
									li
										a(href="#")
											i.d_t2
											span 女装
									li
										a(href="#")
											i.d_t3
											span 内衣
									li
										a(href="#")
											i.d_t4
											span 鞋靴
									li
										a(href="#")
											i.d_t5
											span 箱包
									li
										a(href="#")
											i.d_t6
											span 奢侈品
								ul.d_words
									li.d_words_l1
										a(href="#") 羽绒服女
										a(href="#") 品质男鞋
										a(href="#") 服装城
										a(href="#") 羊绒围巾
										a(href="#") 热卖女靴
										a(href="#") 羽绒服男
										a(href="#") 保暖内衣
										a(href="#") 奢侈品
									li.d_words_l2
										a(href="#") 菩提手串
										a(href="#") 水晶手链
										a(href="#") 时尚女包
										a(href="#") 精品男包
										a(href="#") 小叶紫檀
										a(href="#") 奢品名表
										a(href="#") 热销腕表
										a(href="#") 领券满减
							.foot
								a(href="#")
									img(src="./images/09.jpg")
						.con_right1
							.main_inner
								ul.main_body
									li.main_body1
										a(href="#")
											img(src="./images/28.jpg")
									li.main_body2
										a(href="#")
											img(src="./images/29.jpg")
									li.main_body1
										a(href="#")
											img(src="./images/28.jpg")
									li.main_body3
										a(href="#")
											img(src="./images/30.jpg")
									li.main_body4
										a(href="#")
											img(src="./images/30.jpg")
									li.main_body5
										a(href="#")
											img(src="./images/30.jpg")
									li.main_body6
										a(href="#")
											img(src="./images/30.jpg")
								ul.main_extra
									li.main_extra1
										a(href="#")
											img(src="./images/30.jpg")
									li.main_extra1
										a(href="#")
											img(src="./images/30.jpg")
									li.main_extra2
										.ad0321
											a(href="#")
											img(src="./images/31.jpg")
				.brands
					a(href="#")
						img(src="./images/024.png")
		script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js")
		script(type="text/javascript").
			$('.menu').hover(function(){
			$('#am_box').attr('class','am_con am_con2');
			},function(){
			$('#am_box').attr('class','am_con');
			});
			$('.c1').hover(function(){
			$('#am_box').attr('class','am_con am_con2 am_c1_1');
			});
			$('.c2').hover(function(){
			$('#am_box').attr('class','am_con am_con2 am_c2_1');
			});
