.extInfo
    .brand_logo
        a(href="#")
            img(src="./images/14.jpg")

    .seller_infor
        a.name(href="#") 雷霆世纪旗舰店
        em.u-jd 京东自营

    .customer-service.clearfix
        .service
            span.j_im_btn 
                span.item
                    a.j_im(href="#")
                        b 联系客服

            span.j_im_btn
                span.item
                    a.jd_jimi(href="#")


    .pop_shop_enter
        a.j_enter_shop(href="#") 进入店铺
        a.j_follow_shop(href="#") 关注店铺

    dl.jd_service
        dt.suport_icons 服务支持:
        dd
            a.jd_support_ico(href="#")
                img(src="./images/038.png")
                夜间配
        dd
            a.jd_support_ico(href="#")
                img(src="./images/039.png")
                自提